<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.food_at_home">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <application
        android:name=".Common.ParseApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Food_At_Home"
        tools:targetApi="31">
        <activity
            android:name=".Bookmarks.BookmarksActivity"
            android:exported="false" />
        <activity
            android:name=".Bookmarks.PersonalActivity"
            android:exported="false" />
        <activity
            android:name=".Comments.CommentsFeed"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.codepath.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider" />
        </provider>

        <activity
            android:name=".Comments.CommentsActivity"
            android:exported="false" />
        <activity
            android:name=".RecipeDetails.RecipeDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Common.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".Common.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Common.MainActivity" />
    </application>

</manifest>